<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @mailing.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mailing.name %>
</p>

<%= link_to 'Edit', edit_mailing_path(@mailing) %> |
<%= link_to 'Back', mailings_path %>
<iframe src="https://lb.affilae.com/?key=5c264f15d341db5a453f4785-5c264ed7d341db5a453f4620&id=<%= @mailing.id %>&amount=1" frameborder="0" width="1" height="1"></iframe>
