<!DOCTYPE html>
<html>
  <head>
    <title>MailTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
    <%= yield %>
 <!-- Lime Talk Live Chat start -->
  <script type="text/javascript"> 
  var limetalk = (function () { var lc = document.createElement("script"); lc.type = "text/javascript"; lc.async = true; lc.src = "//www.limetalk.com/livechat/82dc6afc6b2d70ef64a6b77e1b04e6c0"; document.getElementsByTagName("head")[0].appendChild(lc); var fnr = function(fn) { var l = limetalk; if (l.readyList) { l.ready(fn); } else { l.rl = l.rl || []; l.rl.push(fn); } }; fnr.ready = fnr; return fnr; })(); 
</script> 
  <!-- Lime Talk Live Chat end --> 
  </body>
</html>
