<!DOCTYPE html>
<html>
  <head>
    <title>MailTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
    <%= yield %>
    <script type="text/javascript" src="//userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/ccd92f84dbed54ace5316f70e56f0ac90cb10225d1cee1297d667e8a5c61c205.js"></script>
  </body>
</html>
