<!DOCTYPE html>
<html>
  <head>
    <title>MailTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      (function(w,d){
        w.HelpCrunch=function(){w.HelpCrunch.q.push(arguments)};w.HelpCrunch.q=[];
        function r(){var s=document.createElement('script');s.async=1;s.type='text/javascript';s.src='https://widget.helpcrunch.com/';(d.body||d.head).appendChild(s);}
        if(w.attachEvent){w.attachEvent('onload',r)}else{w.addEventListener('load',r,false)}
      })(window, document)
    </script>

    <script type="text/javascript">
      HelpCrunch('init', 'mail-test-sa', {
        applicationId: 5075,
        applicationSecret: '0C40uQe5cR6jShCoX2S8/21ImEaRZ6htrpqvOA2iuxod9SPTXoY4xAlPWxvsUoHGtb0toSSfq8LxjywkOdLE0Q=='
      });

      HelpCrunch('showChatWidget');
    </script>
  </head>
  

  <body>
    <%= yield %>
  </body>
</html>
