<!DOCTYPE html>
<html>
  <head>
    <title>MailTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
    <%= yield %>
    <script async type="text/javascript" src="//userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/d12587b15225dc1d6c0f00580fb2c9dc623189479bc7fc83781bef2829d9ba72.js"></script>
  </body>
</html>
